# RE2708 Group Project: Analysis on Factors affecting reslae flat prices

Group 24: 

Huang Xuanming

Travis Lim Yong Kang A02216696R

Celeste Wong Zi Ying

Gwendy Lim Hui Shan

# a) Introduction

# Loading our libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
%matplotlib inline
import requests

In [ ]:
!pip install geopandas

# b) Description of data sets used

We have taken 2 sets of data from data.gov.sg and saved it in our 'Data' folder

In [ ]:
df=pd.read_csv(website)
df2=pd.read_csv(website)

Aside obtaining data from data.gov.sg, python also allows us to read data from websites via **web scraping**.


We have taken data from 
url=

In [1]:
import requests
import pandas as pd

In [30]:
m = requests.get('https://en.wikipedia.org/wiki/List_of_tallest_buildings_in_Singapore')
df3 = pd.read_html(m.text)

We may have to remove some of the columns and rows that are not useful.

In [33]:
df3

,Name,Image,Street address,Years as tallest,Height (m),Height (ft),Floors,Coordinates,Reference
0,Cathay Building,NaN,2 Handy Road,1939–1954,70,230,17,1°17′57.5″N 103°50′51.5″E﻿ / ﻿1.299306°N 103.8...,[4]
1,Asia Insurance Building,NaN,2 Finlayson Green,1954–1971,87,285,20,1°16′55″N 103°51′05″E﻿ / ﻿1.28194°N 103.85139°E,[5]
2,Shaw Centre,NaN,1 Scotts Road,Never the tallest building in Singapore (compl...,100,328,27,1°18′21″N 103°49′53.5″E﻿ / ﻿1.30583°N 103.8315...,[6]
3,Meritus Mandarin Singapore Tower One,NaN,333 Orchard Road,1971–1973,144,472,36,1°18′07.6″N 103°50′10.0″E﻿ / ﻿1.302111°N 103.8...,[136]
4,Meritus Mandarin Singapore Tower Two[A],NaN,333 Orchard Road,1973–1974,152,499,40,1°18′07.6″N 103°50′10.0″E﻿ / ﻿1.302111°N 103.8...,[128]
5,UIC Building[A][C],NaN,5 Shenton Way,1973–1974,152,499,40,1°16′40.51″N 103°50′58.49″E﻿ / ﻿1.2779194°N 10...,[149]
6,United Overseas Bank Plaza Two,NaN,80 Raffles Place,1974–1975,162,531,38,1°17′08″N 103°50′59″E﻿ / ﻿1.28556°N 103.84972°E,[101]
7,DBS Building Tower One,NaN,6 Shenton Way,1975–1986,201,659,50,1°16′37.40″N 103°50′54.06″E﻿ / ﻿1.2770556°N 10...,[51]
8,One Raffles Place[B],NaN,1 Raffles Place,1986–2016,280,919,63,1°17′04.89″N 103°51′03.70″E﻿ / ﻿1.2846917°N 10...,[7]
9,United Overseas Bank Plaza One[B],NaN,80 Raffles Place,1992–2016,280,919,67,1°17′08″N 103°50′59″E﻿ / ﻿1.28556°N 103.84972°E,[16]
10,Republic Plaza[B],NaN,9 Raffles Place,1995–2016,280,919,66,1°16′58″N 103°51′04″E﻿ / ﻿1.28278°N 103.85111°E,[14]
11,Guoco Tower,NaN,Choon Guan Street,2016-,290,951,64,1°16′37.560″N 103°50′45.960″E﻿ / ﻿1.27710000°N...,[11]

# Introducing our variables

# c) Construction and cleaning of data

### Cleaning

There may be some outliers in the data being used. Hence, we would want to drop missing observations or drop negative values. 

A useful code we can use is **dropna()**

### Grouping

Grouping is the most frequently used operation in python. The function that PANDAS offer is called **groupby** and is normally used with functions like **.mean()** or **.count()**.

This function can help us successfully group big sets of data together. **Pivot_table** is a function that helps show the data in a neater table.

groupby 2 times

### Merging

Since we have 3 different data sets, we would have to merge them together so we can draw conclusions about them. We would have to first find a **common variable** between the different data sets before we merge them together.

In [ ]:
df4=pd.merge(df,df2,on='common variable')

# d) Graphical analysis

### Plotting grpahs

We have to use:

**import matplotlib.pyplot as plt**

**%matplotlib inline**

before we can plot our graphs

Figures:

Pie chart

Scatterplot

Bar graph

# e) Regression analysis

Regression line

Statistical significance ( The one with confidence interval)

**import statsmodels.formula.api as smf**

# f) Conclusion